name: auto-clang-format
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: '.'
        exclude: './third_party ./external'
        extensions: 'h,cpp,hpp'
        clangFormatVersion: 19
        inplace: True
    - uses: EndBug/add-and-commit@v9
      with:
        author_name: Clang Robot
        author_email: robot@example.com
        message: |
          :art: Applied clang-format to source code (auto-formatting)
          - Updated .h, .cpp, and .hpp files to conform with the style guide.
          - Changes include:
            - Indentation adjustments
            - Spacing improvements
            - Alignment enhancements
            - Consistency in formatting across files
            - Removal of trailing whitespace
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
